html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "KaushanScript";
  src: url("../shared/Fonts/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../shared/Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../shared/Fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("../shared/Fonts/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "NanumBrushScript-Regular";
  src: url("../shared/Fonts/NanumBrushScript-Regular.ttf");
}